.ticketList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

.showMoreButton {
  padding: 1.5rem 2rem;
  background-color: rgb(33, 150, 243);
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 1px;
  border: none;
  text-transform: uppercase;
  border-radius: 5px;
  height: 8vh;
  max-height: 5rem;
  max-width: 50.2rem;
  width: 100%;
  color: white;
  cursor: pointer;
}

@media (max-width: 720px) {
  .ticketList {
    gap: 1rem;
  }
}


